@font-face {
	font-family: 'Cuprum';
	src: local('Cuprum'), local('Cuprum-Regular'), url('/fonts/cuprum.woff2') format('woff2'), url('/fonts/cuprum.woff') format('woff'), url('/fonts/cuprum.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Cuprum';
	src: local('Cuprum Italic'), local('Cuprum-Italic'), url('/fonts/cuprumitalic.woff2') format('woff2'), url('/fonts/cuprumitalic.woff') format('woff'), url('/fonts/cuprumitalic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Cuprum';
	src: local('Cuprum Bold'), local('Cuprum-Bold'), url('/fonts/cuprumbold.woff2') format('woff2'), url(/fonts/cuprumbold.woff') format('woff'), url('/fonts/cuprumbold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Cuprum';
	src: local('Cuprum Bold Italic'), local('Cuprum-BoldItalic'), url('/fonts/cuprumbolditalic.woff2') format('woff2'), url('/fonts/cuprumbolditalic.woff') format('woff'), url('/fonts/cuprumbolditalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

body {
	font-family: 'Cuprum';
}